* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background: linear-gradient(to bottom right, #75d3e8, #3c84ac);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #292b2c;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  height: 100%;
  line-height: 1.5;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 960px;
}

.navbar-brand {
  display: inline-block;
  font-size: 1.25rem;
  line-height: inherit;
  margin-right: 1rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-brand,
.navbar-brand:hover {
  color: rgba(0, 0, 0, 0.9);
}

.navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  position: relative;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.nav-link {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
  display: block;
  padding: 0.5em 0.5rem 0.5rem 0;
}

.nav-link:hover,
.nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 992px) {
  .navbar {
    align-items: center;
    flex-direction: row;
  }

  .left-column {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-right: 20px;
  }

  .right-column {
    flex: 0 0 66.6666666666%;
    max-width: 66.6666666666%;
    padding-left: 10px;
  }

  .nav-link {
    display: block;
    padding-left: 0.5rem;
  }
}

.main a {
  color: #013159;
  text-decoration: underline;
}

video {
  max-width: 50%;
  box-shadow: 0 0 3px 3px #444;
  margin-left: 1rem;
  float: right;
}

@media (max-width: 640px) {
  video {
    float: none;
    margin-left: 0;
    margin-bottom: 1rem;
    max-width: 100%;
  }
}

#logo {
  max-width: 300px;
  vertical-align: middle;
  width: 100%;
}

code {
  font-family: monospace;
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: 0.25rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  margin: 0 0 0.5rem 0;
  font-size: 2.5rem;
  line-height: 1.1;
}
