* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background: linear-gradient(to bottom right, #75d3e8, #3c84ac);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #292b2c;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
}

.container {}

.navbar-brand {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  background-color: black;
  padding: 1.5rem;
}

.navbar {
  display: flex;
  list-style: none;
}


.line {
  height: 4px;
  width: 45px;
  background-color: white;
  margin: 10px;
  border-radius: 2px;
}

.navbar li {
  padding: 0 0.5rem;
}

.navbar li a {
  color: white;
  text-decoration: none;
  transition: 0.5s;

}

.navbar li a:hover,
.navbar li a:focus {
  transition: 0.5s;
  color: rgb(141, 141, 141);
}



.main {
  display: flex;
  padding: 1rem;
  flex-direction: row-reverse;
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
}

video {
  width: 50%;

}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100%;
  max-width: 400px;
  margin: 1rem;
}

.sway-text {
  width: 50%;
  padding: 1rem;
  color: #292b2c;
}
.sway-text a{
  color: white;
  font-weight: bold;
}

code {
  font-family: monospace;
  padding: 0.2rem 0.4rem;
  font-size: 90%;
  color: #bd4147;
  background-color: #f7f7f9;
  border-radius: 0.25rem;
}

.sway-text p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.logo-hamburger_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 900px) {
  video {
    width: 100%;
  }

  .navbar-wrapper {
    padding: 1rem;
    flex-direction: column;
  }

  .main {
    flex-direction: column;
  }

  .sway-text {
    width: 100%;
  }

  .navbar {
    display: none;

  }
}

@media (min-width: 900px) {
  .hamburger {
    display: none;
  }
  .logo-hamburger_wrapper{
    width: min-content;
  }
}

.navbar-clicked {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navbar-clicked li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 1rem;
}