<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/master.css" />
    <link rel="icon" href="assets/favicon.png" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar">
        <a class="navbar-brand" href="/">Sway</a>
        <a class="nav-link" href="https://github.com/swaywm/sway/releases">Releases ≫</a>
        <a class="nav-link" href="https://github.com/swaywm/sway">Source Code ≫</a>
        <a class="nav-link" href="https://github.com/swaywm/sway/wiki">Wiki ≫</a>
        <a class="nav-link" href="https://web.libera.chat/gamja/?channels=#sway">Support Chat ≫</a>
      </nav>
      <div class="main">
        {{ content }}
      </div>
    </div>
  </body>
</html>
